{% extends "base.html" %}

{% block scriptsAndStyles%}
{% endblock%}

{% block mainContent %}
    <script type="text/javascript">
        $(function(){
            var rawParams = window.location.hash.substr(1, (window.location.hash.length - 1));
            var params = rawParams.split("&");
            var accessToken = null;
            
            for(paramIndex in params){
                var keyValue = params[paramIndex].split("=");
                
                if(keyValue[0] == "access_token"){
                    accessToken = keyValue[1];
                    break;
                };
            };

            if(accessToken != null){                
                //$.getJSON("https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=" +
                //    accessToken, function(data){
                    $.get( "/auth/ggllogin", "accessToken=" + accessToken //+
                        //"&userID=" + data["userid"]
                        , function(url){
                        if(url){
                            window.opener.location = url;
                            window.close();
                        }
                    });
                //});
            };
        });
    </script>
{% endblock %}